* {
  box-sizing: border-box;
}

body {
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
  font-family: "Libertine", sans-serif;
  background-color: #67ab9d;
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: #67ab9d;
  color: white;
}

.title-navbar-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.header-title {
  text-align: center;
}

.social-links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 50px;
}

.social-links a img {
  height: 24px; 
}

.navbar {
  position: fixed;
  display: flex;
  justify-content: space-around;
  bottom: 20px; /* ajustar este valor según sea necesario */
  left: 50%; /* Centra horizontalmente */
  transform: translateX(-50%); /* Centra respecto a su propia anchura */
  width: 20%; /* Asegúrate de que la barra de navegación tenga una anchura establecida */
  background-color: rgba(90 , 51, 51, 0.4);  /* semi-transparente */
  height: 40px;  /* más pequeña */
  border-top-left-radius: 10px;  /* redondear esquina superior izquierda */
  border-top-right-radius: 10px;  /* redondear esquina superior derecha */
  /* ... el resto de tus estilos para .navbar ... */
  border-radius: 10px;
  padding: 0px;
}



.navbar a {
  float: left;
  display: block; 
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  border-radius: 50px;
  /* padding: px; */
}



.navbar a:hover {
  background-color: #ddd;
  /* elimina cualquier regla de font-size que puedas tener aquí */
  /* width: 40%; */
  background-color: rgba(120, 51, 51, 1);  /* semi-transparente */
  height: 40px; 
  border-radius: 10px;
}



.row {
  display: flex;
}

.side_left {
  flex: 20%;  /* reducido de 30% a 15% */
  background-color: #f1f1f1;
  padding: 20px;
  margin-bottom: 15px;
  border-radius: 10px;
  /* text-align: justify;
  text-justify: inter-word;  New line   */
}


.side_right {
  flex: 5%;  /* reducido de 30% a 15% */
  /* background-color: #f1f1f1; */
  background: #67ab9d;
  padding: 20px;
  margin-bottom: 15px;
  border-radius: 10px;
}

.main {
  flex: 85%;  /* aumentado de 70% a 85% */
  background-color: #f0f0f0;
  padding: 20px;
  margin-bottom: 15px;
  border-radius: 10px;
}

.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}


@media screen and (max-width: 700px) {
  .row {
      flex-direction: column;
  }
  .navbar {
    height: 20vh; /* Aumentar la altura de la barra de navegación para pantallas pequeñas */
  }
}

@media screen and (max-width: 600px) {
  .navbar {
    height: 20vh; /* Aumentar la altura de la barra de navegación para pantallas pequeñas */
  }
}


@media screen and (max-width: 400px) {
  .navbar a {
      float: none;
      width: 100%;
  }
  .navbar {
    height: 20vh; /* Aumentar la altura de la barra de navegación para pantallas pequeñas */
  }
}

.side_left > img {
  height: auto; /* cambia a auto para mantener la proporción de la imagen */
  max-width: 100%; /* asegúrate de que la imagen no sea más ancha que su contenedor */
  /* ...resto de reglas... */
}



.justify-text {
  text-align: left;
}

.project {
  background-color: #f0f0f0;
  margin-bottom: 15px;
  margin-right: 10px; /* agrega margen a la derecha */
  border-radius: 10px;
  padding: 10px;
  margin-top: 20px;
  /* margin: 15px 10px; */
  display: flex;
  align-items: center;
  
}


.main, .side_left, .side_right {
  margin: 10px;
}


.footer {
  margin: 10px;
  padding: 0%;
  text-align: center;
  background-color: #ffffff;
  display: flex;
  width: 18.7%; /* ajusta este valor al ancho que desees para .footer */
  /* margin: 0 auto;  */
  margin-bottom: 15px;
  border-radius: 10px;
}

.footer .footer_left, 
.footer .footer_right {
  align-items: center;
  background-color: #f1f1f1;
  border-radius: 10px;
}

.footer .footer_left {
  flex: 20%;
}

.footer .footer_right {
  flex: 80%; /* Ajustado para sumar 100 con .footer_left */
}

.footer .footer_left .enlace-personalizado {
  color: black;
  font-weight: italic;
  text-decoration: underline;
}

